<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/wagui/image/upload/v1659456677/wairdrone/banners/banner_home_b_q7nlh6.svg);">
  <div class="container">
    <h2><strong><%= @service.name.upcase %></strong></h2>
    <p><%= @service.description %></p>
    <a class="btn btn-ghost" href="/services">TARIFS</a>
  </div>
</div>

< data-id="<%= @service.id %>" class="services-container">
  <div class="logo">
    <%= cl_image_tag @service.photos.last.key, class: "img-card", size: "400x300"%>
  </div>
  <div class="container-show grayscale">
    <div class="row" style="align-items: center;">
      <div class="container-img col">
        <%= cl_image_tag @service.photos[1].key, class: "img-card", size: "200x150"%>
        <%= cl_image_tag @service.photos[2].key, class: "img-card", size: "200x150"%>
      </div>
      <div class="container-text col">
        <p><%= @service.infos1 %></p>
        <p><%= @service.infos2 %></p>
      </div>
      <div class="container-img col">
        <%= cl_image_tag @service.photos[3].key, class: "img-card", size: "300x225", :crop => :fill %>
      </div>
    </div>
  </div>
  <div class="container-show grayscale">
    <div class="row" style="align-items: center;">
      <div class="container-text col">
        <p><%= @service.infos3 %></p>
        <a class="btn btn-ghost" href="/services">TARIFS</a>
      </div>
      <div class="container-img col">
        <%= cl_image_tag @service.photos[15].key, class: "img-card", size: "300x225", :crop => :fill %>
      </div>
    </div>
  </div>
  <div class="container-show grayscale">
    <div class="row" style="align-items: center;">
      <div class="container-img col">
        <%= cl_image_tag @service.photos[12].key, class: "img-card", size: "300x225", :crop => :fill %>
      </div>
      <div class="container-img col">
        <%= cl_image_tag @service.photos[17].key, class: "img-card", size: "300x225", :crop => :fill %>
      </div>
      <div class="container-text col">
        <p><%= @service.infos4 %></p>
      </div>
    </div>
  </div>
  <div class="container-show grayscale">
    <div class="row" style="align-items: center;">
      <div class="container-text col">
        <p><%= @service.infos5 %></p>
      </div>
      <div class="container-img col">
        <%= cl_image_tag @service.photos[19].key, class: "img-card", size: "300x225", :crop => :fill %>
      </div>
      <div class="container-text col">
        <p><%= @service.infos6 %></p>
      </div>
      <div class="container-img col">
        <%= cl_image_tag @service.photos[18].key, class: "img-card", size: "300x225", :crop => :fill %>
      </div>
    </div>
  </div>
  <div class="container-show grayscale">
    <div class="row" style="align-items: center;">
      <div class="container-text col">
        <%= image_tag "WAIRDRONE 2022 BLACK 3", size: "200x65"%>
      </div>
      <div class="container-text i7 col">
        <p><%= @service.infos7 %></p>
        <a class="btn btn-ghost" href="/services">TARIFS</a>
      </div>
      <div class="container-text col">
        <%= image_tag "WAIRDRONE 2022 BLACK 3", size: "200x65"%>
      </div>
    </div>
  </div>
  <div class="container-show grayscale">
    <div class="row" style="align-items: center;">
      <div class="container-img col">
        <%= cl_image_tag @service.photos[4].key, class: "img-card", size: "200x150", :crop => :fill%>
        <%= cl_image_tag @service.photos[5].key, class: "img-card", size: "200x150", :crop => :fill%>
      </div>
      <div class="container-text col">
        <p><%= @service.infos8 %></p>
        <p><%= @service.infos9 %></p>
      </div>
      <div class="container-img col">
        <%= cl_image_tag @service.photos[6].key, class: "img-card", size: "300x225", :crop => :fill %>
      </div>
    </div>
  </div>
  <div class="container-show grayscale">
    <div class="row" style="align-items: center;">
      <div class="container-text col">
        <p><%= @service.infos10 %></p>
      </div>
    </div>
  </div>
</div>
