<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/wagui/image/upload/v1659456677/wairdrone/banners/banner_home_b_q7nlh6.svg);">
  <div class="container">
    <h2><strong>THERMOGRAPHIE & PHOTOGRAMMÉTRIE</strong></h2>
    <p>Professionnels du bâtiment, alimentez vos projets avec nos expertises techniques par drone !</p>
    <a class="btn btn-ghost" href="/services">TARIFS</a>
  </div>
</div>
<div class="site-title-container" style="display: flex">
  <%= image_tag "WAIRDRONE 2022 BLACK 3", size: "200x65"%>
  <h1 id="site-title"><strong>WAIRDRONE</strong></h1>
  <%= image_tag "WAIRDRONE 2022 BLACK 3", size: "200x65"%>
</div>
<div class="home_intro">
  <div class="home_intro_img"  style="height: 130px">
    <%= image_tag "gg_avatar"%>
  </div>
  <div class="home_intro_text">
    <p>"Nous proposons des captations dans le spectre non visible (<strong>thermographie bâtiment</strong> ou <strong>thermographie photovoltaïque</strong>) et dans le spectre visible (<strong>photogrammétrie</strong>) aux professionnels du bâtiment afin d'alimenter leurs projets.
    <br>
    Que vous soyez un architecte, un bureau d'étude, un géomètre ou topographe, un thermicien, un maître d'œuvre, chef de chantier ou assureur,<br> <strong>WAIRDRONE</strong> peut vous apporter son <strong>expertise avec sécurité, rapidité et précision</strong>."
    <br><br>
    - Guillaume Genet</p>
  </div>
</div>
<div>
  <div>
  <h3 class="home-title">
  NOS SERVICES :</h3>
    <div class="card-container" style="text-decoration: none">
      <% @services.each do |service| %>
        <%= link_to service_path(service) do%>
          <div>
            <%= render 'shared/card', service: service %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="home_intro" style="height: 600px">
    <div class="home_intro_text">
      <p>Afin d'effectuer des captations optimales, <strong>WAIRDRONE</strong> est équipé :
      <br>
      d'un drone <strong>DJI Matrice 200</strong>,
      <br>
      de deux caméras thermiques radiométriques (<strong>DJI Zenmuse XT2</strong> & <strong>DJI Zenmuse XT640 30Hz</strong>),
      <br>
      d'une caméra 4k spectre visible <strong>DJI Zenmuse X4S</strong>
      <br>
      <br><br>
      Pour le traitement, <strong>WAIRDRONE</strong> travaille avec les logiciels :
      <br>
      <strong>FLIR Thermal Studio</strong> pour le traitement des images thermiques radiométriques,
      <br>
      <strong>PIX4D Mapper</strong> & <strong>Agisoft METASHAPE</strong> pour le mapping photogrammétrie.
      <br>
      </p>
    </div>
    <div>
      <p>
      Nous proposons un <strong>service clé en main</strong>, comprenant :
      <br>
      la déclaration de survol auprès des autorités compétentes et gestionnaires des espaces aériens,
      <br>
      une assurance <strong>R</strong>esponsablilité <strong>C</strong>ivile <strong>Pro</strong>fessionnelle AXA,
      <br>
      et une <strong>expertise</strong> reconnue par les principaux acteurs et institutions locales.
      <br>
      </p>
    </div>
</div>
<div class="banner3">
  <div class="banner-img3 grayscale">
    <%= image_tag "banner_confiance", class: "banner3"%>
  </div>
</div>
<br>
